.main {
    max-width: 1440px;
    background: #FFF;
    padding-left: 80px;
    padding-right: 80px;
}

.section1 {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    background: #F5F5F5;
    border-radius: 10px;
    margin-bottom: 40px;

    &_contant {
        width: 50%;
        padding-top: 141px;
        padding-bottom: 162px;
        padding-left: 62px;

        & h1 {
            @include flmw(42px, 53px, 10px, 627px);
            font-weight: 700;
        }

        & p {
            @include flmw(28px, 36px, 30px, 542px);
            font-weight: 400;
        }

        &_search {
            position: relative;
            width: 514px;

            & input {
                width: 100%;
                height: 62px;
                padding-left: 17px;
                padding-right: 92px;
                border: 2px solid #00000066;
                border-radius: 10px;
                background: #F5F5F5;
                color: #00000099;
                font-size: 18px;
            }

            & button {
                position: absolute;
                top: 1px;
                right: 1px;
                width: 75px;
                height: 59.5px;
                border: none;
                border-radius: 8px;
                background: #4200FFCC;
                cursor: pointer;

                &:active {
                    cursor: pointer;
                    background: #350909;   
                }
            }
        } 
    }

    &_image {
        width: 50%;
        text-align: center;
        padding-top: 95px;
        position: relative;

        & img {
            max-width: 100%;
        }

        &_shade {
            position: absolute;
            bottom: 30px;
            left: 25px;
        }
    }
}

.section2 {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;

    &_card {
        display: flex;
        align-items: center;
        width: 400px;
        height: 140px;
        border: 1.5px solid #F2F2F2;
        border-radius: 5px;

        &:hover {
            cursor: grab;
            box-shadow: 24px 28px 41px -3px rgba(34, 60, 80, 0.2);
        }

        &_image,
        &_image1,
        &_image2 {
            width: 160px;
            height: 140px;
            background: #F9F9F9;
            text-align: center;
            padding-top: 14px;
            margin-right: 15px;
        }

        &_image1 {
            padding-top: 8px;
        }

        &_image2 {
            padding-top: 11px;
        }

        &_contant {

            & h2 {
                font-size: 18px;
                line-height: 23px;
                margin-bottom: 10px;
                font-weight: 500;
            }

            & p {
                font-size: 14px;
                line-height: 18px;
                width: 190px;
                font-weight: 500;
            }
        }
    }
}

.section3 {
    max-width: 1280px;
    display: flex;
    gap: 20px;
    margin-bottom: 40px;

    &_first {
        width: 380px;
        height: 732px;
        border-radius: 5px;
        background: #F7F7F7;
        padding-top: 10px;
        padding-left: 11px;
        padding-right: 11px;

        & button {
            width: 358px;
            height: 76px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 0;
            font-size: 22px;
            font-weight: 500;
            line-height: 20px;
            background: #F7F7F7;
            padding-left: 20px;
            padding-right: 30px;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
                background: #4200FF;
                color: #FFF;
            }
        }

        &_text {
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                margin-right: 19px;
            }
        }
    }

    &_second {
        width: 880px;
        min-height: 732px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        &_card {
            width: 280px;
            background: #F7F7F7;
            border-radius: 5px;

            &_image {
                text-align: center;
                height: 229px;
                padding-top: 25px;

            }

            &_contant {
                background: #FFFFFF;
                height: 127px;
                padding-top: 20px;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 0 0 5px 5px;

                &_text h3 {
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 22px;
                    width: 215px;
                    margin-bottom: 20px;
                }

                &_last {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    & p {
                        font-size: 20px;
                        line-height: 23px;
                        color: #4200FF;
                        font-family: 'Roboto';
                        font-weight: 500;
                    }
                }
            }

            &:hover {
                cursor: grab;
                box-shadow: 24px 28px 41px -3px rgba(34, 60, 80, 0.2);
            }
        }
    }
}

.numbering {
    max-width: 272px;
    margin-left: auto;
    padding-right: 0;
    display: flex;
    gap: 8px;
    margin-bottom: 60px;

    & button {
        width: 32px;
        height: 32px;
        border-radius: 4px;
        background: #FFF;
        border: 1px solid #DFE3E8;
        font-family: 'Roboto';
        font-weight: 700;

        &:hover {
            cursor: pointer;
            border: 1px solid #4200FF;
            color: #4200FF;
        }

        &.pointer {
            color: #C4CDD5;

            &:hover {
                cursor: pointer;
                background: #919EAB;
                color: #C4CDD5;
                border-color: #919EAB;
            }
        }  
    }
}

.section4 {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;

    &_card {
        display: flex;
        border: 1.5px solid #F2F2F2;

        &_image,
        &_image1,
        &_image2 {
            width: 160px;
            height: 140px;
            background: #F9F9F9;
            text-align: center;
            padding-top: 44px;
            margin-right: 15px;
        }

        &_image1 {
            padding-top: 23px;
        }

        &_image2 {
            padding-top: 55px;
        }

        &_contant {
            width: 240px;
            padding-top: 36px;

            & h4 {
                font-size: 18px;
                line-height: 23px;
                font-weight: 500;
                margin-bottom: 10px;
            }

            & p {
                width: 195px;
                font-size: 14px;
                line-height: 18px;
                font-weight: 500;
                color: #00000099;
            }
        }

        &:hover {
            cursor: grab;
            box-shadow: 24px 28px 41px -3px rgba(34, 60, 80, 0.2);
        }
    }
}

.section5 {
    max-width: 1280px;
    min-height: 358px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F7F7F7;
    border-radius: 5px;
    margin-bottom: 80px;

    &_contant {
        width: 582px;
        padding-top: 80px;
        padding-left: 40px;

        & h5 {
            width: 530px;
            font-size: 36px;
            font-weight: 700;
            line-height: 47px;
            color: #000000;
            margin-bottom: 50px;
        }

        &_button {
            width: 200px;
            height: 60px;
            font-weight: 400;
            font-size: 28px;
            line-height: 36px;
            border-radius: 5px;
            border: 1.5px solid #000;

            &_text1 {
                margin-right: 10px;
            }

            &:hover {
                cursor: pointer;
                background-color: #919EAB;
                color: #C4CDD5;
                border: 1.5px solid #919EAB;

            }
        }
    }

    &_image {
        width: 694px;

        & img {
            border-radius: 0 0 5px 5px;
        }
    }
}

.table1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    & h6 {
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
    }

    & a {
        color: #000000E5;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
        text-decoration: none;

        &:hover {
            color: #b7bcc5;
        }
    }
}

.section6 {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;

    &_card {
        width: 304px;
        height: 356px;
        background: #F7F7F7;
        border-radius: 5px;

        &_image1,
        &_image2,
        &_image3,
        &_image4 {
            height: 229px;
            text-align: center;
        }

        &_image1 {
            padding-top: 23px;
        }

        &_image3 {
            padding-top: 43px;
        }

        &_image4 {
            padding-top: 26px;
        }

        &_contant {
            height: 127px;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            background: #FFF;
            border-radius: 0 0 5px 5px;

            & h3 {
                width: 243px;
                font-weight: 500;
                font-size: 17px;
                line-height: 22px;
                margin-bottom: 25px;
            }

            &_last {
                display: flex;
                justify-content: space-between;

                & p {
                    font-size: 20px;
                    line-height: 23px;
                    color: #4200FF;
                    font-family: 'Roboto';
                    font-weight: 500;
                }
            }

        }

        &:hover {
            cursor: grab;
            box-shadow: 24px 28px 41px -3px rgba(34, 60, 80, 0.2);
        }
    }
}

